{% extends '_base.html' %}

{% block 'title' %}Add Product{% endblock %}

{% block 'content' %}
<main class="container">
  <div class="row mt-5">
    <div class="mx-auto col-6">
      <h2>Add Product</h2>
      {% if messages %}
        {% for message in messages %}
            {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
                <div class="alert alert-danger" role="alert">
                    {{ message }}
                </div>
            {% endif %}
            {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
                <div class="alert alert-success" role="alert">
                    {{ message }}
                </div>
            {% endif %}
        {% endfor %}
      {% endif %}
      <p></p>
      <form class="mt-3" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="mb-3">
          <label for="txtTitle" class="form-label">Title</label>
          <input type="text" class="form-control" id="txtTitle" name="title" maxlength=200 required>
        </div>
        <div class="mb-3">
          <label for="txtTitle" class="form-label">Description</label>
          <textarea class="form-control" name="description"></textarea>
        </div>
        <div class="mb-3">
          <label for="price" class="form-label">Price</label>
          <input type="number" min="1" class="form-control" id="price" name="price" value="1" required>
        </div>
        <button type="submit" class="btn btn-primary">Add</button>
      </form>
    </div>
  </div>
</main>
{% endblock %}